body {
    background: #434343;
    padding-left: calc(50% - 200px);
    padding-top: 200px;
}

#MX,
#WX {
    width: 400px;
}

#MX g,
#WX g {
    visibility: hidden;
}

#MX g.shown,
#WX g.shown {
    visibility: visible;
}
